.ipynb_checkpoints/
# Arquivos de Ambiente Virtual
# Nunca enviar a pasta do ambiente virtual
venv/
/venv/
.venv/
__pypackages__/

reports/
/reports/
# Arquivos de Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd
# MLflow
/mlruns/
# Arquivos de configuração de IDEs/Editores
.vscode/
.idea/
# Arquivos de Sistema Operacional
.DS_Store
Thumbs.db
